---
name: Build And Test

on:
  push:
    branches: ["main", "debug"]
  workflow_dispatch:

env:
  PUBLIC_SIMICS_PKGS_URL_WINDOWS: "https://registrationcenter-download.intel.com/akdlm/IRC_NAS/881ee76a-c24d-41c0-af13-5d89b2a857ff/simics-6-packages-2023-31-win64.ispm"
  PUBLIC_SIMICS_ISPM_URL_WINDOWS: "https://registrationcenter-download.intel.com/akdlm/IRC_NAS/ead79ef5-28b5-48c7-8d1f-3cde7760798f/intel-simics-package-manager-1.8.3-win64.exe"

jobs:
  build_windows_pwsh:
    name: Build and Test (Windows)
    timeout-minutes: 5
    runs-on: windows-latest
    steps:
      - name: Add ISPM and MinGW to PATH
        run: |
          set PATH $env:PATH
          "C:\MinGW\bin" | Out-File -FilePath $env:GITHUB_PATH
          "C:\ISPM\" | Out-File -FilePath $env:GITHUB_PATH -Append
          "C:\procmon\" | Out-File -FilePath $env:GITHUB_PATH -Append
          "$PATH" | Out-File -FilePath $env:GITHUB_PATH -Append
          echo "Current PATH: " $env:GITHUB_PATH

      - name: download procmon and accept eula
        run: |
          Invoke-WebRequest -URI https://download.sysinternals.com/files/ProcessMonitor.zip -OutFile C:\ProcMon.zip
          Expand-Archive -Path "C:\ProcMon.zip" -DestinationPath "C:\procmon"
          $procMonPath = "HKCU:\Software\Sysinternals\Process Monitor"
          $eulaValue = Get-ItemProperty -Path $procMonPath -Name "EulaAccepted" -ErrorAction SilentlyContinue
          if ($null -eq $eulaValue) {
              New-Item -Path $procMonPath -Force | Out-Null
              New-ItemProperty -Path $procMonPath -Name "EulaAccepted" -Value 1 -PropertyType "DWord" | Out-Null
          } else {
              Set-ItemProperty -Path $procMonPath -Name "EulaAccepted" -Value 1
          }

      - name: start procmon capture
        run: Procmon.exe /Minimized /Quiet /BackingFile log.pml

      # ispm-installer.exe is a NSIS installer for the elctron build. We want the
      # default options, so we pass /S to install silently:
      # https://nsis.sourceforge.io/Docs/Chapter3.html#installerusage
      #
      # NOTE: We use | Out-Null on the installer command to make powershell wait for it
      # to actually finish instead of forking it to the background
      - name: Download and Install ISPM
        shell: pwsh
        run: |
          echo downloading
          Invoke-WebRequest -URI ${{ env.PUBLIC_SIMICS_ISPM_URL_WINDOWS }} -OutFile C:\ispm-installer.exe
          echo downloaded
          echo installing
          $processPath = "C:\ispm-installer.exe"
          $arguments = "/S /D='C:\ISPM\'"
          $timeoutSeconds = 180
          try {
              Start-Process -FilePath $processPath -ArgumentList $arguments -Wait -Passthru -Timeout $timeoutSeconds
          }
          catch {
              Write-Warning "The process did not complete within the $timeoutSeconds seconds timeout period."
              # Optional: Handle the timeout case, such as terminating the process or logging a message.
          }
          echo done

      - name: Set SIMICS Install Directory
        run: |
          ispm.exe settings install-dir C:\SIMICS\

      - name: kill procmon
        if: ${{ always() }}
        run: taskkill /IM Procmon.exe /F

      - name: save procmon log
        if: ${{ always() }}
        uses: actions/upload-artifact@v3
        with:
          name: procmon-log
          path: log.pml

  build_windows_powershell:
    name: Build and Test (Windows)
    runs-on: windows-latest
    timeout-minutes: 5
    steps:
      - name: Add ISPM and MinGW to PATH
        run: |
          set PATH $env:PATH
          "C:\MinGW\bin" | Out-File -FilePath $env:GITHUB_PATH
          "C:\ISPM\" | Out-File -FilePath $env:GITHUB_PATH -Append
          "$PATH" | Out-File -FilePath $env:GITHUB_PATH -Append
          echo "Current PATH: " $env:GITHUB_PATH

      # ispm-installer.exe is a NSIS installer for the elctron build. We want the
      # default options, so we pass /S to install silently:
      # https://nsis.sourceforge.io/Docs/Chapter3.html#installerusage
      #
      # NOTE: We use | Out-Null on the installer command to make powershell wait for it
      # to actually finish instead of forking it to the background
      - name: Download and Install ISPM
        shell: powershell
        run: |
          echo downloading
          Invoke-WebRequest -URI ${{ env.PUBLIC_SIMICS_ISPM_URL_WINDOWS }} -OutFile C:\ispm-installer.exe
          echo downloaded
          echo installing
          C:\ispm-installer.exe /S /D='C:\ISPM\' | Out-Null
          echo done

      - name: Set SIMICS Install Directory
        run: |
          ispm.exe settings install-dir C:\SIMICS\

      - name: Set SIMICS Install Directory
        run: |
          ispm.exe settings install-dir C:\SIMICS\
